<div class="videos">

  <iframe class="main_video" width="854" height="480"
          src="https://www.youtube.com/embed/d6RPjRH7CsU" frameborder="0"
          allow="accelerometer;  autoplay; encrypted-media; gyroscope;
          picture-in-picture" allowfullscreen>
  </iframe>

  <iframe class="videos_player" width="407" height="229" src="https://www.youtube.com/embed/ln2Q6orQAtE" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe class="videos_player" width="407" height="229" src="https://www.youtube.com/embed/8E-AoLs40og" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe class="videos_player" width="407" height="229" src="https://www.youtube.com/embed/RkyG3wDyo6g" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe class="videos_player" width="407" height="229" src="https://www.youtube.com/embed/knSG01CZTTw" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe class="videos_player" width="407" height="229" src="https://www.youtube.com/embed/KMIn6si5Fjk" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="videos_player"></div>

</div>
<app-footer></app-footer>
