export let biography = `
<div class="biography_page">
  <div class="biography_name">Nevillar</div>
  <div class="biography_word">BIOGRAPHY</div>
  <div class="biography_text">
    Nevillar is electronic dance music producer, born on September 13, 1991, in Belarus. From school, he was interested in music and started producing his first tracks at the age of 15. After gaining some experience and raising his skills he began to experiment with various genres such as Big Room, Electro House, Dance, etc. His first tracks were released on Digital Empire Records and Nevillar's musical career has begun!
  </div>
</div>
`;
<app-footer></app-footer>
