.biography_page {
  width: 90%;
  margin: 300px auto 288px auto;
  max-width: 1000px;
}

.biography_text {
  margin-top: 50px;
  color: rgba(252, 251, 255, 0.85);
  font-family: Calibri;
  font-size: 110%;
  text-align: justify;
}

.biography_name {
  color: rgb(42 39 253);
  font-weight: bold;
  font-family: Calibri;
  font-size: 200%;
  text-align: start;
  margin-top: 50px;
}

.biography_word {
  color: rgba(252, 251, 255, 0.85);
  font-weight: bold;
  font-family: Calibri;
  font-size: 250%;
  text-align: start;
}
