.navigation__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  height: 70px;
  margin: 0 auto;
  margin-top: 101px;
  position: fixed;
  left: 0;
  right: 0;
}
.active {
  color: white !important;
  border-bottom: 3px #1242a8 solid;
}
