.navigation__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  margin-top: 103px;
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  top: 0;
}
